.main {
  margin: 0 auto -8rem;
  position: sticky;
  left: 0;
  right: 0;
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  padding-bottom: 100vh;

  section:last-of-type {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .main {
    margin-bottom: -20px;
  }
}
@media (min-width: 1024px) {
  .main {
    margin-bottom: -90px;
  }
}
