.main {
  margin: 0 auto -70px;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 100vh;

  @media (min-width: 768px) { margin-bottom: -20px; }
  @media (min-width: 1024px) { margin-bottom: -90px; }

  .intro {
    margin: 0 -12px 220px;
    width: calc(100% + 24px);
    height: 600px;

    position: relative;

    @media (min-width: 768px) { height: 520px; }
    @media (min-width: 1024px) { height: 600px; }
    @media (min-width: 1440px) { 
      height: 80vh;
      // max-height: 640px;
    }

    .title {
      display: block;
      margin: 0 auto 24px;
      width: 100%;
      max-width: 428px;

      h2, p {
        text-align: center;
        line-height: 1.3;
      }

      h2 { 
        font-size: 2rem;
        margin-bottom: 0;
      }
  
      p {
        font-size: 1.4rem;
        opacity: 0.7;
        letter-spacing: 1px;
      }

      @media (min-width: 768px) {
        margin: 0 auto 24px 24px;

        h2, p { text-align: left; }
      }
    }

    &>div {
      &:first-of-type {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        height: 300px;
        position: relative;

        @media (min-width: 768px) { height: 400px; }
        @media (min-width: 1024px) { height: 500px; }
        @media (min-width: 1440px) { height: 100%; }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          animation: fade-in 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }  
  
        &::before,
        &::after {
          content: '';
          background: var(--c-background-200);
          position: absolute;
          bottom: -1px;
          left: -1px;
        }
    
        &::before { width: 62px; height: 36px; }
        &::after { width: 200px; height: 16px; }
        
        @media (min-width: 1440px) { 
          &::before { width: 62px; height: 36px; }
          &::after { width: 200px; height: 16px; }
        }
      }

      &:last-of-type { 
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
        max-width: 420px;
        padding: 36px 24px; 
        background: var(--c-candy-red);
        
        &> * { color: var(--c-polar-white); }
        
        h1 { 
          font-size: 2.2rem;
          line-height: 2.6rem;
          margin-bottom: 1.8rem;
        }
        
        p { font-size: 1.8rem; }
        
        @media (min-width: 1440px) {
          right: 1020px;
          bottom: 50%;
          padding: 64px 24px; 
          transform: translateY(50%);
          
          h1 {
            font-size: 3.6rem;
            line-height: 4rem;
            margin-bottom: 2.4rem;
          }
          
          p { font-size: 2.2rem; }
        }
      }
    }

    .backBtn {
      background: var(--c-background-200);
      border: none;
      padding: 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      z-index: 2;

      position: absolute;
      top: 280px;
      left: 0;
      width: 50px;
      height: 50px;

      svg {
        transform: rotate(180deg); 
        fill: none;

        path { stroke: var(--c-polar-white); }
      }

      @media (min-width: 768px) { top: 380px; }
      @media (min-width: 1024px) { top: 480px; }
      
      @media (min-width: 1260px) {
        top: 42px;
        left: unset;
        right: 1220px;
      }

      @media (min-width: 1440px) { 
        top: 82%;
        transform: translateY(-50%);
      }
    }
  }

  .lead {
    width: calc(100% - 2 * 12px);
    max-width: 428px;
    margin-left: 12px;

    @media (min-width: 768px) { margin: 0 auto 220px; }

    svg {
      width: 72px;
      height: 72px;
      margin-left: -20px;
      path { stroke : var(--c-candy-red); }
    }

    h2 { margin-left: 48px; }
  }

  .slider { 
    margin: 120px 0;

    @media(min-width: 1024px) {
      width: calc(100% - ((100% - 960px) / 2));
      margin: 96px -12px 96px auto;
    }
  }

  .specs {
    margin: 240px auto;

    & > div {
      button {
        border: none;
        border-top: 1px solid var(--c-candy-red);
        border-bottom: 1px solid var(--c-candy-red);
        color: var(--c-element-200);
        background: var(--c-background-200);
        padding: 24px 12px;
        display: block;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h2 { 
          font-size: 20px;
          margin: 0;
        }

        .icon { 
          width: 22px;
          height: 22px;
          
          path { stroke: var(--c-candy-red); }
        }
      }
  
      p {
        a {
          background-color: var(--c-background-200);
          border-bottom: 1px solid var(--c-element-200);
          margin-bottom: -10px;
          padding: 0 2px;
          display: inline-block;
          position: relative;
          z-index: 1;
          overflow: hidden;
          transition: 
            color 200ms ease-in-out,
            border 200ms ease-in-out;

          &::after {
            content: '';
            background-color: var(--c-candy-red);
            
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            transition: top 200ms ease-in-out;
          }
          
          &:hover { 
            color: var(--c-polar-white);
            border-bottom-color: var(--c-candy-red);

            &::after { top: 0; }
          };
        }
  
      }
      
      .hide { display: none; }
      
      &:not(:first-of-type) button { border-top: none; }

      .content {
        padding: 24px 24px 84px 24px;

        & > div {
          padding: 16px 0;
          border-bottom: 3px solid var(--c-background-100);

          &:first-of-type { padding-top: 0; }
          &:last-of-type { border-bottom: none; }
       
          strong, span, a { 
            display: block;
            letter-spacing: 0.5px;
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 16px;
            line-height: 1;
            transition: background-color 200ms ease-in-out;
            
            & + .btn { 
              border-top: 2px solid var(--c-background-100);
            }

            &:hover {
              background: var(--c-background-100);
            }

            svg {
              width: 18px; 
              height: 18px;
              opacity: 0.6;

              path { stroke: var(--c-element-100) }
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            & > * {
              background: var(--c-background-100);
              margin: 8px;
              line-height: 1;
              padding: 4px 8px;
              border: 1px solid var(--c-element-050);

              transition: background-color 200ms ease-in-out;

              &:hover {
                background: var(--c-background-200)
              }
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      max-width: 960px;
      padding-left: 216px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 48px;
  
      &> div { 
        border-top: 1px solid var(--c-candy-red);
        border-bottom: 1px solid var(--c-candy-red);
        padding: 48px 0;


        button { 
          cursor: default;
          padding: 0;
          border: none;

          h2 { margin-bottom: 24px; }
          
          .icon { display: none; }
        }
        
        p { padding: 0; }
      }
    }
  }
  
  section:last-of-type { padding-bottom: 0;}
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
