.main {
  margin: 0 auto -70px;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 100vh;

  @media (min-width: 768px) {
    margin-bottom: -20px;
  }
  @media (min-width: 1024px) {
    margin-bottom: -90px;
  }

  .intro {
    position: relative;
    margin: 0 0 10rem 0;

    .imageContainer {
      height: 60vh;
      position: relative;

      @media screen and (min-width: 768px) {
        height: 70vh;
      }
    }

    .projectDetails {
      width: 100%;
      max-width: 62rem;
      height: calc(40vh - 8rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      padding: 1.6rem;
      background: var(--c-element-100);

      h1,
      p {
        color: var(--c-background-100);
      }

      @media screen and (min-width: 768px) {
        position: relative;
        margin-top: -6rem;
      }
    }

    .backBtn {
      position: absolute;
      top: 0;
      left: 0;
      height: 4.8rem;
      padding: 1rem;
      border: none;
      background: var(--c-background-100);
      color: var(--c-element-100);

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;

      svg {
        fill: var(--c-candy-red);
        stroke: var(--c-candy-red);
        width: 60%;
        height: 60%;
        transform: rotate(180deg);
      }
    }

    &.next {
      .title {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
      }
    }
  }

  .lead {
    width: calc(100% - 2 * 12px);
    max-width: 428px;
    margin-left: 12px;
    margin-bottom: 240px;

    @media (min-width: 768px) {
      margin: 0 auto 220px;
    }

    svg {
      width: 72px;
      height: 72px;
      transform: rotate(90deg);

      path {
        stroke: var(--c-candy-red);
      }
    }

    h2 {
      font-size: 21px;
      margin-left: 48px;

      @media (min-width: 375px) {
        font-size: 24px;
      }
      @media (min-width: 425px) {
        font-size: 28px;
      }
    }
  }

  .slider {
    margin: 120px 0;

    @media (min-width: 1024px) {
      width: calc(100% - ((100% - 960px) / 2));
      margin: 96px -12px 96px auto;
    }
  }

  .specs {
    margin: 240px auto;

    @media (min-width: 768px) {
      max-width: 960px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 48px;
    }

    @media (min-width: 1440px) {
      padding-left: 216px;
    }

    & > div {
      button {
        border: none;
        border-top: 1px solid var(--c-candy-red);
        border-bottom: 1px solid var(--c-candy-red);
        color: var(--c-element-200);
        background: var(--c-background-200);
        padding: 24px 12px;
        display: block;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-size: 20px;
          margin: 0;
        }

        .icon {
          width: 22px;
          height: 22px;

          path {
            stroke: var(--c-candy-red);
          }
        }
      }

      p {
        font-size: 1.8rem;
        line-height: 1.8;

        & + p {
          margin-top: 1rem;
        }

        a {
          background-color: var(--c-background-200);
          border-bottom: 1px solid var(--c-element-200);
          margin-bottom: -10px;
          padding: 0 2px;
          display: inline-block;
          position: relative;
          z-index: 1;
          overflow: hidden;
          transition: color 200ms ease-in-out, border 200ms ease-in-out;

          &::after {
            content: '';
            background-color: var(--c-candy-red);

            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            transition: top 200ms ease-in-out;
          }

          &:hover {
            color: var(--c-polar-white);
            border-bottom-color: var(--c-candy-red);

            &::after {
              top: 0;
            }
          }
        }
      }

      @media (min-width: 768px) {
        border-top: 1px solid var(--c-candy-red);
        border-bottom: 1px solid var(--c-candy-red);
        padding: 48px 0;

        button {
          cursor: default;
          padding: 0;
          border: none;

          h2 {
            margin-bottom: 24px;
          }

          .icon {
            display: none;
          }
        }

        p {
          padding: 0;
        }
      }

      .hide {
        display: none;
      }

      &:not(:first-of-type) button {
        border-top: none;
      }

      .content {
        padding: 24px 24px 84px 24px;

        & > div {
          padding: 16px 0;
          border-bottom: 3px solid var(--c-background-100);

          &:first-of-type {
            padding-top: 0;
          }
          &:last-of-type {
            border-bottom: none;
          }

          strong,
          span,
          a {
            display: block;
            letter-spacing: 0.5px;
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 16px;
            line-height: 1;
            transition: background-color 200ms ease-in-out;

            & + .btn {
              border-top: 2px solid var(--c-background-100);
            }

            &:hover {
              background: var(--c-background-100);
            }

            svg {
              width: 18px;
              height: 18px;
              opacity: 0.6;

              path {
                stroke: var(--c-element-100);
              }
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            & > * {
              background: var(--c-background-100);
              margin: 8px;
              line-height: 1;
              padding: 4px 8px;
              border: 1px solid var(--c-element-050);

              transition: background-color 200ms ease-in-out;

              &:hover {
                background: var(--c-background-200);
              }
            }
          }
        }
      }
    }
  }

  section:last-of-type {
    padding-bottom: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
