.aside {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    max-width: 32vw;
    padding: 24px;
  }

  .content {
    height: 320px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (min-height: 700px) { height: 360px; }
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 16px;
      background-color: var(--c-candy-red);
      z-index: 2;
    }
    
    &::before { top: 18px; left: 0; }
    &::after { top: 24px; left: 4px; }
    
    h1 {
      color: var(--c-element-200);
      font-size: 2.8rem;
      line-height: 0.8;
      font-weight: var(--f-regular);
      margin-bottom: 24px;
    }

    p { 
      font-size: 2.2rem;
      color: var(--c-element-200);
      line-height: 1.4;
      min-height: 66px;
      max-width: 428px;
    }
  }
}