.tools {
  position: absolute;
  bottom: 0;
  margin-bottom: 2.4rem;
  left: 2.4rem;

  z-index: 1;

  .shuffle-button {
    background: transparent;
    border: none;

    width: 2.8rem;
    height: 2.8rem;

    transition: transform 300ms ease-in-out;

    svg {
      fill: var(--c-polar-white);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 1024px) {
  .tools {
    margin-bottom: 2.4rem;
  }
}
