.container {
  width: calc(100% + 48px);
  max-width: 800px;
  height: 290px;
  margin: -90px 0 24px -24px;
  position: relative;
  overflow: hidden;

  background-color: var(--c-candy-red);
  background-position: center, center;
  background-blend-mode: multiply;
  background-size:  cover;
  background-repeat: no-repeat;
  background-attachment: scroll; 
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--c-background-200);
    z-index: 2;
  }

  &::before {
    width: 40px;
    height: 60px;
  }

  &::after {
    width: 34%;
    height: 40px;
  }
  
  @media (min-width: 800px) {
    position: absolute;
    top: 90px;
    right: 0;
  }
}