@keyframes motionAfter {
  0% { opacity: 0; top: 50%; }
  33% { opacity: 1; top: 0; }
  66% { opacity: 0; top: 50%; }
  100% { opacity: 1; top: 100%; }
}

@keyframes motionBefore {
  0% { opacity: 0; bottom: 50%; }
  33% { opacity: 1; bottom: 0; }
  66% { opacity: 0; bottom: 50%; }
  100% { opacity: 1; bottom: 100%; }
}

.link {
  font-size: 1.3rem;
  line-height: 1.4rem;
  letter-spacing: 1px;
  padding: 8px;
  opacity: 0.6;
  background-color: var(--c-background-200);

  display: inline-block;
  position: relative;

  transition: opacity 1000ms ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 40px;
    height: 1px;
    transform: translateX(-50%);
    
    background: var(--c-candy-red);
    opacity: 0;

    transition: 
      bottom 200ms ease-in-out,
      top 200ms ease-in-out,
      opacity 200ms ease-in-out;
  }

  // &::before { bottom: 50%; }
  // &::after { top: 50%; }


  &:hover {
    opacity: 1;

    &::before,
    &::after { 
      animation-duration: 600ms;
      animation-iteration-count: 1;
      animation-direction: normal;
    
      opacity: 1;
    }

    &::after {
      animation-name: motionAfter;

      top: 0;
    }
    
    &::before {
      animation-name: motionBefore;

      bottom: 0;
    }
  }

  &.selected { 
    opacity: 1;

    &::before,
    &::after {
      content: '';
      background: var(--c-candy-red);

      position: absolute;
      left: 50%;
      width: 40px;
      height: 1px;
      opacity: 1;
      transform: translateX(-50%);
    }

    &::before { bottom: 0 }
    &::after { top: 0 }
  }

  @media(min-width: 1024px) { 
    & + .link { margin-left: 8px; }
  }
} 