.container {
  width: 100%;
  background: var(--c-background-100);
  
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}