.section {
  max-width: 960px;
  margin: 220px auto;
  position: relative;

  & > div {
    & + div { margin-top: 20px; }
  }
  
  .intro {
    margin-bottom: 24px;

    p { line-height: 1.8rem; }

    button {
      position: absolute;
      bottom: 140px;
      right: 0;
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      h2 { margin-bottom: 0;}

      &> div:last-of-type {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        button {
          position: relative;
          bottom: unset;
          right: unset;
        }
      }

    }
  }

  .cardContainer {
    h3 {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: var(--f-regular);
      text-transform: uppercase;
      margin-bottom: 48px;
      
      @media (min-width: 768px) { margin-right: 120px;}
    }
    
    .date { 
      display: inline-block;
      color: var(--c-element-200);
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      opacity: .6;
    }

    .cardFooter {
      position: relative;

      & > a {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      'intro intro'
      'card-1 card-2';
    gap: 16px;
    
    & > div {
      & + div { margin: 0; }
    }

    & > div:nth-child(1) { grid-area: intro; }
    & > div:nth-child(2) { grid-area: card-1; }
    & > div:nth-child(3) { grid-area: card-2; }
  }
}