.container {
  max-width: 330px;
  
  h1 { margin-bottom: 12px; }
  
  @media (min-width:800px) { margin-top: 320px; }
  
  @media (min-width:1024px) { 
    position: fixed;
    top: 0;
    left: calc(50vw - 480px);
    margin-top: 160px;
    
    .nav { margin-top: 48px; }
  }
}