@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.container {
  width: calc(100% + 24px);
  height: 80vh;
  margin: 60px -12px;
  position: relative;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-image: url('../../../../public/assets/wires/w-intro-red.svg'), url('../../../../public/assets/img/intro.jpg');
  background-color: var(--c-candy-red);
  background-position: bottom left;
  background-blend-mode: lighten, multiply;
  background-size: cover, cover;
  background-attachment: scroll, fixed;

  .clip {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 200%;
    height: 20px;
    fill: var(--c-background-200)
  }
  
  .content {
    z-index: 1;
    width: calc(100% - 24px);
    max-width: 906px;
  }
  
  h1,
  .typed { 
    position: absolute;
    transform: translateY(50%)
  }

  h1 {
    font-size: 4.2rem;
    line-height: 1;
    margin-bottom: 24px;

    bottom: 50%;
  }
  
 .typed {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--c-iridium-white);

    bottom: 30%;

    @media (min-width: 1024px) { bottom: 24%; }
  }
  
  @media (min-width: 420px) { 
    h1 { font-size: 5.6rem;}
  }

  @media (min-width: 620px) { 
    h1 { font-size: 6.4rem;}
  }

  @media (min-width: 1024px) { 
    h1 { font-size: 8rem;}
  }

  @media (prefers-color-scheme: light) { 
    h1, p {color: var(--c-background-100);}
  }
}