.copyright {
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);

  font-size: 1.2rem;
  letter-spacing: 0.2px;
  text-shadow: 4px 4px 14px rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 1.6rem;

  a {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
