.main {
  .container {
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 220px;
    padding-bottom: 240px;

    .cardList {
      max-width: 600px;
      margin: 48px 0 0 auto;
  
    &.col2{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 24px;
      
      @media (min-width: 600px) { grid-template-columns: repeat(2, 1fr); }
    }
  
      @media (min-width: 1024px) { margin-top: 480px; }
    }
  }
}
