*:focus {
  outline: none;
  filter: brightness(2);
}

body {
  padding-bottom: 20px;
}

main {
  width: 100%;
  margin: 8rem auto 22rem;
  overflow: hidden;
  background: var(--c-background-200);

  & > section {
    margin-top: 240px;

    &:last-of-type {
      margin-bottom: 220px;
      padding-bottom: 240px;
    }
  }
}

.call-to-action {
  margin: 100px auto;

  @media (min-width: 768px) {
    position: fixed !important;
    bottom: 48px;
    right: 48px;
    margin: 0;
    z-index: 2 !important;
  }
}
