.container {
  width: 100%;
  position: relative;
  background: var(--c-background-100);
  overflow: hidden;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &>div {
    &:first-of-type {
      padding: 24px;

      &> div {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
      }
    }

    &:last-of-type {
      background: var(--c-element-200);
      padding: 48px;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 200px;
        height: 190px;
        fill: var(--c-background-100);
      }

      @media (min-width: 768px) { margin-top: -24px; }
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}