.main {
  padding-bottom: 100px;
  width: calc(100% - 24px);
  margin: 0 auto;

  section {
    h2 { margin-bottom: 24px; }

    &+ section { margin: 120px auto; }
  }

  .action,
  .clients {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .projects {
    margin: 96px -12px;
    @media (min-width: 768px) and (orientation: landscape) { 
      width: calc(100vw - ((100vw - 960px) / 2));
      margin: 96px -12px 96px auto;
    }
  }
  .clients, 
  .blog { max-width: 960px; }

  .clients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }
  }
  
  .blog {
    & > div {
      & + div { margin-top: 20px; }
    }
    
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      
      & > div {
        & + div { margin: 0; }
      }
    }
  }

  .testimonials {
    .cover {
      width: calc(100% + 24px);
      height: 360px;
      margin-left: -12px;
      position: relative;
      overflow: hidden;
      
      background-image: url('../../public/assets/img/testimonials.jpg');
      background-color: var(--c-candy-red);
      background-position: center;
      background-blend-mode: multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      
      svg {
        fill: var(--c-candy-red);
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(684px * 1.5);
        height: calc(284px * 1.5);
        transform: translate(-50%, -50%);
      }
    }

    &>div:nth-child(2) {
      max-width: 684px;
      background: var(--c-background-200);
      margin: -142px auto 0;
    }
  }
}