.main {
  padding-bottom: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  background: var(--c-background-200);

  section {
    h2 { margin-bottom: 24px; }

    &+ section { margin: 120px auto; }
  }

  .callToAction,
  .clients {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .callToAction {
    margin: 100px auto;

    @media(min-width: 768px) {
      position: fixed;
      bottom: 48px;
      right: 48px;
      margin: 0;
      z-index: 2;
    }
  }
  
  .projects {
    margin: 96px -12px;
    @media (min-width: 768px) and (orientation: landscape) { 
      width: calc(100vw - ((100vw - 960px) / 2));
      margin: 96px -12px 96px auto;
    }
  }
  
  .blog { max-width: 960px; }

  .testimonials {
    .cover {
      width: calc(100% + 24px);
      height: 360px;
      margin-left: -12px;
      position: relative;
      overflow: hidden;
      
      background-image: url('../../public/assets/wires/w-testimonials-cover-red.svg'), url('../../public/assets/img/testimonials.jpg');
      background-color: var(--c-candy-red);
      background-position: center;
      background-blend-mode: lighten, multiply;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll, fixed; 
    }

    &>div:nth-child(2) {
      max-width: 684px;
      background: var(--c-background-200);
      margin: -142px auto 0;
    }
  }

  .blog {
    position: relative;
    padding-bottom: 240px;

    & > div {
      & + div { margin-top: 20px; }
    }
    
    .intro {
      margin-bottom: 48px;

      button {
        position: absolute;
        bottom: 140px;
        right: 0;
      }
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas:
        'intro intro'
        'card-1 card-2';
      gap: 16px;
      
      & > div {
        & + div { margin: 0; }
      }

      & > div:nth-child(1) { grid-area: intro; }
      & > div:nth-child(2) { grid-area: card-1; }
      & > div:nth-child(3) { grid-area: card-2; }

      .intro {
        position: relative;
        padding-right: 260px;

        h2 { margin-bottom: 0;}

        button {
          bottom: 50%;
          transform: translateY(50%);
        }
      }
    }
  }
}