.cardContainer {
  background: var(--c-background-100);
  position: relative;
  transition: filter 1000ms ease-in-out;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  img {transition: transform 2000ms ease-in-out;}
  
  &:hover {
    filter: brightness(1.2);

    img { transform: scale(1.2);}
  }
}