.nav {
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;
  background: var(--c-background-200);
  padding: 16px 64px 24px 8px;
  z-index: 2;
  box-shadow: 0 -36px 64px rgb(0 0 0 / 8%);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  
  a { display: inline-block; }

  &.dark { box-shadow: 0 -36px 64px 10px rgb(17 21 23 / 60%); }

  &::-webkit-scrollbar { height: 4px; }
  
  &::-webkit-scrollbar-track { 
    background: var(--c-background-200);
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-thumb { 
    border-radius: 2px;
    background-color: var(--c-background-100);
    
    &:hover { background-color: var(--c-candy-red); }
  }

  @media (min-width: 1024px) {
    width: calc(100% + 8px);
    margin-left: -8px;
    padding-right: 8px;
    
    position: relative;
    bottom: unset;
    left: unset;
    transform: none;

    justify-content: flex-start;

    background: transparent;
    box-shadow: none;
  }
}