.nav {
  width: calc(100% + 24px);
  margin-left: -8px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 24px;
  
  position: relative;
  
  a { display: inline-block; }

  &::-webkit-scrollbar { height: 4px; }
  
  &::-webkit-scrollbar-track { 
    background: var(--c-background-200);
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-thumb { 
    border-radius: 2px;
    background-color: var(--c-background-100);
    
    &:hover { background-color: var(--c-candy-red); }
  }


  // &::after {
  //   content: ' → ';
  //   line-height: 0;
  //   position: sticky;
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  //   width: 100%;
  //   padding: 12px;
  //   pointer-events: none;
  //   background: linear-gradient(90deg, transparent 0%, var(--c-background-200) 80%);
  // }
}