.toast {
  position: absolute;
  bottom:  0;
  left: -100vw;
  width: calc(100vw - 32px);
  max-width: 300px;
  opacity: 0;
  
  padding: 32px;
  background: var(--c-background-100);
  box-shadow: 10px 10px 20px 0px rgb(0 0 0 / 25%);
  transition: 
    left 600ms ease-out 1000ms, 
    opacity 600ms ease-out 1000ms;
  
  &.show { left: 0; opacity: 1; }

  strong, span { display: block; }
  strong {
    margin-bottom: 8px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    font-size: 1.6rem;
  }
  span { font-size: 14px; line-height: 1.4; }

  button {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: transparent;

    svg { stroke: var(--c-element-100)}
  }
}