.section {
  width: 100%;
  max-width: 960px;
  margin: 240px auto;
  padding-left: calc(env(safe-area-inset-left) + 2rem);
  padding-right: calc(env(safe-area-inset-right) + 2rem);

  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    @media screen and (min-width: 1024px) {
      border-radius: 2.8rem;
      border-bottom-right-radius: 0;
    }

    .cardBody {
      h2 {
        margin-bottom: 16px;
      }

      & > div {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
      }
    }

    .cardImage {
      background: var(--c-element-200);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 200px;
        height: 190px;
        fill: var(--c-background-100);
      }
    }

    .button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
