.card {
  position: relative;

  .placeholder {
    top: 0;
    left: 0;
    height: 100%;
    
    svg g { stroke: var(--c-candy-red) !important; }

    @media(min-width: 400px) { transform: scale(1.2); }
    @media(min-width: 480px) { transform: scale(1.4); }
    @media(min-width: 550px) { transform: scale(1.5); }
    @media(min-width: 768px) { transform: rotate(-90deg) scale(2); }
  }

  h2 { 
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 48px;

    @media (min-width: 600px) { margin-bottom: 8px;}
  }

  p { 
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--c-element-200);
  }
  
  .date { 
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
    color: var(--c-element-200);
  }

  .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  & + .card { margin-top: 42px; }
}