.card {
  h2 { 
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 48px;

    @media (min-width: 600px) { margin-bottom: 8px;}
  }

  p { 
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--c-element-200);
  }

  .date { 
    font-size: 1.3rem;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  & + .card { margin-top: 42px; }
}