.card {
  position: relative;

  .imageContainer {
    position: relative;
    height: 32rem;
    background: var(--c-candy-red);

    @media (min-width: 768px) {
      height: 36rem;
    }
  }

  .placeholder {
    top: 0;
    left: 0;
    height: 100%;

    svg g {
      stroke: var(--c-candy-red) !important;
    }

    @media (min-width: 400px) {
      transform: scale(1.2);
    }
    @media (min-width: 480px) {
      transform: scale(1.4);
    }
    @media (min-width: 550px) {
      transform: scale(1.5);
    }
    @media (min-width: 768px) {
      transform: rotate(-90deg) scale(2);
    }
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 600px) {
      margin-bottom: 8px;
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--c-element-200);
  }

  .date {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
    color: var(--c-element-200);
  }

  .specs {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 12px 0 0 -8px;

    li {
      background-color: var(--c-background-200);
      filter: brightness(0.98);
      padding: 8px 16px;
      font-size: 1.3rem;
      line-height: 1;
      letter-spacing: 1px;
      margin: 8px 0 0 8px;
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  & + .card {
    margin-top: 7.2rem;
  }
}
