.container {
  width: 100%;
  height: calc(100vh + 1rem);
  margin-top: 0;
  position: relative;
  overflow: hidden;
  background: var(--c-night-black);
  border-bottom-left-radius: 2.8rem;
  border-bottom-right-radius: 2.8rem;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .scene {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    perspective: 15px;
    perspective-origin: 50% 50%;
    left: 50%;
    transform: rotate(45deg);
    animation: rotate 72s infinite linear;

    .wrap {
      position: absolute;
      width: 1000px;
      height: 1000px;
      left: -500px;
      top: -500px;
      transform-style: preserve-3d;
      animation: move 48s infinite linear;
      animation-fill-mode: forwards;

      &:nth-child(2) {
        animation: move 48s infinite linear;
        animation-delay: 6s;

        .wall {
          animation-delay: 6s;
        }
      }

      .wall {
        width: 100%;
        height: 100%;
        position: absolute;
        // background: url(https://images.unsplash.com/photo-1527224103471-559916697f3a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTg1fHxyZWR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
        background-size: cover;
        opacity: 0;
        animation: fade 48s infinite linear;

        &.right {
          transform: rotateY(90deg) translateZ(500px);
        }

        &.left {
          transform: rotateY(-90deg) translateZ(500px);
        }

        &.top {
          transform: rotateX(90deg) translateZ(500px);
        }

        &.bottom {
          transform: rotateX(-90deg) translateZ(500px);
        }

        &.back {
          transform: rotateX(180deg) translateZ(500px);
        }
      }
    }
  }

  .content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      font-size: 4.2rem;
      line-height: 1;
      color: var(--c-iridium-white);

      margin-bottom: 24px;
      bottom: 50%;

      @media (min-width: 420px) {
        font-size: 5.6rem;
      }
      @media (min-width: 620px) {
        font-size: 6.4rem;
      }
      @media (min-width: 1024px) {
        font-size: 8rem;
      }
    }

    .typed {
      font-size: 1.6rem;
      line-height: 1.2;
      letter-spacing: 1px;
      color: var(--c-polar-white);
    }
  }

  .tools {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(2.4rem + 9rem);
    left: 2.4rem;

    z-index: 1;

    .shuffle-button {
      background: transparent;
      border: none;

      width: 2.8rem;
      height: 2.8rem;

      transition: transform 300ms ease-in-out;

      svg {
        fill: var(--c-polar-white);
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 420px) {
  .container .content {
    width: 320px;

    .typed {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 620px) {
  .container .content {
    width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .container .content {
    width: 460px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateZ(-500px) rotate(45deg);
  }
  100% {
    transform: translateZ(500px) rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
