.section {
  width: 100vw;
  margin: 120px 0;
  padding: 48px 0;
  padding-left: calc(env(safe-area-inset-left) + 2rem);
  padding-right: calc(env(safe-area-inset-right) + 2rem);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;

  h2 {
    margin-bottom: 24px;
    text-align: center;
  }

  @media (min-width: 1024px) {
    width: calc(100% - ((100% - 960px) / 2));
    margin: 96px -12px 96px auto;

    h2 {
      text-align: left;
    }
  }
}
